# Notes:
#   Values in <value> are modified by CI/CD automation. Please see github/workflows for more info
#-Basic info----------------------------------------------------------------------------------------
display_name: run_launcher
name: run_launcher__v2.3.0
version:
  schema: ["v2_1_0"]
  code: v2.3.0

#---------------------------------------------------------------------------------------------------

#-Details-------------------------------------------------------------------------------------------
details:
  target: [run]
  description: >
    Processes a folder for running in bifrost
#---------------------------------------------------------------------------------------------------

#-Install-------------------------------------------------------------------------------------------
install:
  path: # Set by install program
  #dockerfile: docker://ssidk/bifrost_run_launcher
# None

#-Options-------------------------------------------------------------------------------------------

"""
options:
  default_pre: "pre.sh"
  default_per: "per_sample.sh"
  default_post: "post.sh"
  default_meta: "run_metadata.tsv"
  default_reads: "samples"
  default_colmap: "rename.json"
"""